*
!/**/
!*.*
*.exe
*.cc
*.cpp
*.txt
*.ipch
*.bin
*.py
!_starter.cc
!dijkstra.cc
!kmp.cc
!readIntegersTillEoln.cc
!readBinaryTreeFromStdin.cc
!UF.cc
!sieve.cc
!morrisTraversal.cc
!Fraction.cc
!extended_gcd.cc
!Trie.cc
!manacher.cc