*
!/**/
!*.*
*.exe
*.cc
*.cpp
*.txt
*.ipch
*.bin
*.py
!_starter.cc
!dijkstra.cc
!kmp.cc
!readIntegersTillEoln.cc
!readBinaryTreeFromStdin.cc
!UF.cc
!sieve.cc
!morrisTraversal.cc
!Fraction.cc
!extended_gcd.cc
!Trie.cc
!manacher.cc
!inverse_modulo_euler_theorem.cc
!chinese_remainder.cc
!binary_indexed_tree.cc
!topological_sort.cc
!directed_cycle.cc
!strong_component.cc
!kruskal.cc
!prim.cc
!ford_fulkerson.cc
!max_pq.cc
!bellman_ford.cc
!lsd_string_sort.cc
!quick_radix_sort.cc
